.avatar {
  width: 80px;
  height: 80px;
  color: #ffffff;
  background: #333333;
  border: 1px solid #eee;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* transition: all .8s; */
}

.avatar.red {
  background: red;
}

.avatar.indigo {
  background: indigo;
}
